@{
    ViewData["Title"] = "Boulder page";
}



<link rel="stylesheet" href="~/css/Style.css" />

<body>



    <div class="container-fluid">
        <div class="text-light">
            <div class="text-sm-center">
                <h1>Boulders</h1>
                <br />
                <p style="font-size:30px;">
                    Below is a list of boulders we have a beta for!
                </p>
                <br />
            </div>

            <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">

                </div>
            </div>

        </div>
    </div>

    <h3 class="text-light">Dynamic Boulders</h3>




</body>