@model List<BoulderModel>

@using DataLibrary.Models;


@foreach (var boulder in Model)
{
    <div class="text-light">
        <h1 class="brand-font-30">@boulder.Name</h1>
        <h2 class="brand-font-30">@boulder.Location</h2>
        <h2 class="brand-font-30">@boulder.Grade</h2>
    </div>

    //Send temp userId with the action
    <a class="" asp-area="" asp-controller="Home" asp-action="Post" asp-route-boulderId="@boulder.Id" asp-route-userId="0">Upload Post</a>
        }
