@model BoulderBeta.MVC.Models.PostViewModel

@{
    ViewData["Title"] = "Post";
}

<div class="brand-font">
    <h1>Upload your own Beta</h1>

    <h4>Put the Url to your video below!</h4>
    <hr />
</div>
<div class="row text-light">
    <div class="col-md-4">
        <form asp-controller="Post" asp-action="UploadPost" asp-route-boulderId="@Model.BoulderId" asp-route-userId="@Model.UserId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn bg-green" asp-action="BoulderView" asp-route-id="@Model.BoulderId">Back to Boulder</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
